body {
    background-color: #133853;
}

.eye { 
    position: relative;  
    display: inline-block;  
    margin: 15px;  
    overflow: hidden;  
}
        
.eye-inside {
    width: 32px;  
    height: 32px;  
    position: absolute;  
    background-color: black;  
    border-radius: 50%;  
    left: 50%;  
    top: 50%;  
    transform: translate (-50%, -50%);  
}

.eye-flipped {
    transform: scalex(-1);  
}